.mt-45 {
  margin-top: 45px !important;
}

.pr-18 {
  padding-right: 18px;
}

.h3 {
  color: #1b0c4b;
}

.btn-add {
  background-color: #1b0c4b !important;
  border-color: #1b0c4b !important;
}

.font-weight-normal {
  font-weight: normal;
  color: #776aa2 !important;
}

.arrow {
  width: 12px;
  height: 12px;
}

.mb-10 {
  margin-bottom: 10px;
}

.share-btn {
  background-color: #32c5ff;
  border-color: #32c5ff;
  font-weight: 700;
}

.user-icon {
  width: 15px;
  height: 15px;
  color: #fff;
}
