.title {
  color: #1b0c4b;
}

.btn-add {
  font-size: 16px;
}

.btn-primary {
  background-color: #1b0c4b;
  border-color: #1b0c4b;
}

.has-search .form-control {
  padding-left: 2rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
}

.pr-18 {
  padding-right: 18px !important;
}

.collection {
  width: 25px;
  height: 20px;
  margin-right: 8px;
}

.hamburger-menu {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hamburger__line {
  width: 20px;
  height: 2px;
  background-color: rgb(99, 94, 94);
}
