.navbar.bg-primary {
  background-color: #1b0c4b !important ;
}

.topbar-logo {
  width: 125px;
  height: 25px;
}

.badge {
  font-size: 11px !important;
  color: black !important;
  padding: 3px !important;
  font-weight: 500 !important;
}

.ml-2 {
  margin-left: 7px !important;
}
