.mt-45 {
  margin-top: 45px !important;
}

.pr-18 {
  padding-right: 18px;
}

.h3 {
  color: #1b0c4b;
}

.font-weight-normal {
  font-weight: normal;
  color: #776aa2 !important;
}

.arrow {
  width: 12px;
  height: 12px;
}
