@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

.scrollable_container {
  top: 2.5em;
  position: relative;
}

th.Spreadsheet__header {
  min-width: 3rem;
}

td.Spreadsheet__cell {
  white-space: pre-line;
  max-width: 22.5rem;
  padding: 1em;
}
